* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #171717;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.pokemon {
    width: 500px;
    height: 300px;
    padding: 16px;
    background-color: #343A40;
    border-radius: 7px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .4);
}

section {
    display: flex;
    align-items: center;}

header {
    width: 100%;
    font-size: 18px;
    text-transform: capitalize;
}

img {
    width: 200px;
}

.info, .image {
    width: 50%;
}

.image {
    display: flex;
    justify-content: flex-end;
}

.search {
    position: absolute;
    top: calc(50% - 180px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.search form{
    display: flex;
    align-items: center;
}

#search-input {
    height: 30px;
    padding: 8px;
    border: none;
    border-radius: 7px;
    outline: none;
    margin-right: 5px;
    transition: .3s all;
    -moz-appearance:textfield;
}

#search-input:focus {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .4)
}

#search-input::-webkit-outer-spin-button,
#search-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 8px;
    transition: .1s all;
}

button:hover {
    cursor: pointer;
    background-color: #343A40;
    color: white;
}